<link rel="stylesheet" href="/styles/bootstrap.css">
<script src="/scripts/jquery-1.10.2.js"></script>
<script src="/scripts/bootstrap.js"></script>

<script src="/scripts/header.js"></script>

<title>Gene Search Tool</title>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- add header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Genes</a>
        </div>
        <!-- add menu -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                <li><a href="/general">Organisms</a></li>
                <li><a href="/asearch">Advanced Search  <span class="glyphicon glyphicon-search"></span></a></li>
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/profile">My Work</a></li>
            </ul>
        </div>
    </div>
</nav>