<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/scripts/asearch.js"></script>

</head>
<style>
body
{
    font-family:Gill Sans MT;
    text-align: center;

}

input.fieldname
{
    clear:left;
    display:block;
    display: inline-block;
    width:25%;
    margin:10px;
    margin-bottom:10px;
}
select.fieldtype
{
    display:block;
    display: inline-block;
    width:10%;
    text-align: center;
    margin:10px;
    margin-bottom:10px;
}
input.remove
{
    display:block;
    display: inline-block;
    margin:10px;
}


</style>
<body>
<%- include /partials/header.ejs %>
<div class="container" style="padding-top:80px; word-wrap:break-word;">
    <div class="row">

        <!-- LOCAL INFORMATION -->
            <div class="well">
                <h3 ><span class="fa fa-info"></span> Advanced Search by ID </h3>

                    <div class="container">
                        <div class="row">
                            <div class="control-group" id="fields">
                                <label class="control-label" for="field1">Insert Gene ID</label>
                                <form action="/asearch" method="post">
                                <div class="Search-row form-inline">
                                    <label>Species:
                                        <select name="species[]" required">
                                            <% for(var i=0; i < data.length-1; i++) { %>
                                            <option value="<%= data[i].fullname %>">
                                            <%= data[i].fullname %> - <%= data[i].sigla %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </label>
                                    <label>Gene ID:
                                        <input type="text" name="genes[]" required/>
                                    </label>
                                </div>

                                <input type="button" id="add-row" name="add-row" value="Add row" />
                                <input type="submit" id="submit-search" name="submit-search" value="Submit Search" />
                                </form>
                            </div>
                        </div>
                    </div>

            </div>

    </div>

</div>
</body>
</html>