<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<%- include /partials/header.ejs %>
<div class="container" style="padding-top:80px; word-wrap:break-word;">
    <div class="row">
        <div class="col-sm-12">
        <h3 class="text-center"><span class="fa fa-info"></span> Disease Information </h3>
        <p> 
            <%for (var i=0; i<disease.length-2;i++){ %>
                <strong><%=ids[i]%></strong>: <%= disease[i]  %><br>
            <% } %>
        </p>
        </div>
    </div>
</div>
</body>

</html>
