<!doctype html>
<html>
<head>
    <title>Gene Search Tool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    </style>
</head>
<body>
<%- include /partials/header.ejs %>
<div class="container" style="padding-top: 80px">

    <div class="jumbotron text-center" >
        <h1><span class="fa fa-search"></span> Gene Search Tool</h1>

        <p>Login or Register to access our website:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
<%- include /partials/footer.ejs %>
</body>
</html>