html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
	background-image: url("/images/back.jpg");
}
#navbar {
	background-color: #f8f8f8;
}
#menu_div{
	height: 5%;
	margin: 0;
	padding: 0;
}
.div_full_height {
	height: 100%;
}
#main_div{
	height: 75%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#map {
	border-width: 2px;
	border-radius: 2px;
	width: 100%;
}

.div_borders{
	border:solid;
	border-width: 5px;
	border-color: gray;
}

.container-fluid{
	margin-top: 1px;
	padding-top: 1px;
}