body
{
    font-family:Gill Sans MT;
    text-align: center;

}

input.fieldname
{
    clear:left;
    display:block;
    display: inline-block;
    width:25%;
    margin:10px;
    margin-bottom:10px;
}
select.fieldtype
{
    display:block;
    display: inline-block;
    width:10%;
    text-align: center;
    margin:10px;
    margin-bottom:10px;
}
input.remove
{
    display:block;
    display: inline-block;
    margin:10px;
}